[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "review-bot"
version = "0.0.dev3"
description = "A python library to automatically generate suggestions and improvements for patches in GitHub PRs by leveraging the power of OpenAI."
readme = "README.rst"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.core@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata>=4.0,<5; python_version<='3.8'",
    "requests",
    "openai",
    "jsonschema"
]

[project.optional-dependencies]
tests = [
    "pytest==7.2.2",
    "pytest-cov==4.0.0",
    "requests==2.28.2",
    "openai==0.27.2",
]
doc = [
    "ansys_sphinx_theme==0.9.6",
    "numpydoc==1.5.0",
    "Sphinx==5.3.0",
    "sphinx-autoapi==2.1.0",
    "Sphinx-copybutton==0.5.1",
]


[tool.flit.module]
name = "review_bot"

[project.urls]
Source = "https://github.com/ansys/hackathon-review-bot"
Tracker = "https://github.com/ansys/hackathon-review-bot/issues"
Homepage = "https://github.com/ansys/hackathon-review-bot"


[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tool.coverage.run]
source = ["review_bot"]

[tool.coverage.report]
show_missing = true
